<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Discogs Record Collection</title>
		<link href="layout.css" rel="stylesheet" />
		{% block head %}{% endblock %}
		<meta name="description" content="Sign in to your Discogs account, get a simple overview of all your records and filter them by category." />
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
